  a { cursor: pointer; }

  #contact-form input[type=text] {
    margin-bottom: 0px !important; 
  }
   .form-group{
    margin-bottom: 30px !important; 
   }

   #contact-form input[type=text], .contactForm textarea {
    background: white !important;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
  }
  #contact-form select {
    background: white !important;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
  }

  #contact-form input[type=text]:focus,  .contactForm textarea:focus {
	color: rgba(101, 106, 100, 1) !important;
}
#contact-form select:focus {
  color: rgba(101, 106, 100, 1) !important;
}

.content-moncompte{
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 50px;
}

.content-devis{
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;

}

.validation-angular {
  color: red;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

@media (min-width: 1200px) {
    .container {
      width: 90%;
    }
  }
  .intro-amsterdam {
  height: 50vh !important;
  }
  .actives-haut{
      width: 250px;
  }
  .actives-bas{
      margin-top: 30px; 
      width: 250px;
  }
  .flex-direction-nav a {
  margin: 30px -20px 0 !important;

  }
  .content, .container {
  overflow: inherit;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: white;
  border-color: #337ab7;
  color: black;
  }
  .portfolio-item .portfolio-desc {
      width: 60%;
      
  }
  .angular-link{
    cursor: pointer;
  }
  .btn-retour {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}
.btn-ajout-panier{
  border: 1px solid;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.btn-ajout-panier:hover{
  -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
@media (min-width: 992px) {
      .activiteTitrePanier{
        min-height: 80px;
      }
  }

.icon-devis{
  margin-right: 5px;
}