<!-- contact -->
<section id="section-devis" class="section appear clearfix bg-white" style="margin-top:20px;">

    <section id="intro" style="margin-top: 0 !important; height: 30vh !important;">
      <div class="intro-content">
          <h2>Mon compte</h2>
      </div>
    </section>

    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item active">Devis</li>
                    <li class="list-group-item">Mes informations</li>
                    <li class="list-group-item">Mes voyages</li>
                    <li class="list-group-item">Paiements</li>
                    <li ng-click="Deconnexion()" class="list-group-item">Déconnexion</li>
                  </ul>
            </div>
            <div class="col-md-9">
                <div class="row" style="display: none;">
                    <div ng-if="devis" class="alert alert-success" role="alert">
                        Votre demande de devis à bien été prise en compte. Nos équipes vous répondrons dans les meilleurs délais.
                    </div>
                    <div class="content-moncompte"> 
                        <p>Vous n'avez aucun devis en cours.</p>
                        <a ui-sref="devis" class="btn-get-started" data-dismiss="modal">DEMANDEZ VOTRE DEVIS</a>
                    </div>
                </div>
                <div class="row">
                    <div ng-if="devis" class="alert alert-success" role="alert">
                        Votre demande de devis à bien été prise en compte. Nos équipes vous répondrons dans les meilleurs délais.
                    </div>
                    <div class="content-devis"> 
                        <div class="row">
                            <div class="col-md-10">
                                <h3 style="font-weight: bold; font-size: 22px;">Budapest</h3>
                            </div>
                            <div class="col-md-2">
                                <a style="margin:0" ui-sref="devis" class="btn-get-started">Détails</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <style>
  @media (min-width: 1200px) {
    .container {
      width: 90%;
    }
  }
  .intro-amsterdam {
  height: 50vh !important;
  }
  .actives-haut{
      width: 250px;
  }
  .actives-bas{
      margin-top: 30px; 
      width: 250px;
  }
  .flex-direction-nav a {
  margin: 30px -20px 0 !important;

  }
  .content, .container {
  overflow: inherit;
  }
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: white;
  border-color: #337ab7;
  color: black;
  }
  .portfolio-item .portfolio-desc {
      width: 60%;
      
  }

  .list-group-item{
      padding: 20px;
      font-weight: bold;
  }

  .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #A342AA !important;
    border-color: #A342AA !important;
}
  li {
      cursor: pointer;
  }

</style>